# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.pdsbak
PIC18F46J50/Example1-LED/LED.X/nbproject/
PIC18F46J50/Example1-LED/LED.X/dist/default/
PIC18F46J50/Example1-LED/LED.X/build/
*.workspace
